.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: 2px;
  font: 12px sans-serif;
  background: navajowhite;
  border: 0px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
rect.bar { fill: indianred; }
rect.bar:hover {
  fill: lightcoral;
}